.App{
  background-color: white;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.heading{
  margin: 20px;
  padding: 20px;
}

.Images{
  justify-content: space-around;
  padding: 30px;

}

.image1{
  margin: 200px;
  size: 10%;
}