@import url('https://fonts.googleapis.com/css?family=Cabin|Montserrat:300,400');

body {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    line-height: 1.75;
    background: #252525;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.App-header {
  background-color: transparent;
  align-self: flex-start;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.head {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #252525;
  width: 100%;
}

.aboutImage{
  order:1;
  align-self: flex-start;
}

.aboutText{
  order:2;
  display: block;
  color: white;
  margin-left: 100px;
  margin-top: 100px;
  padding-left: 50px;
  padding-top: 30px;
  margin-top: 200px;
}

.header1 {
    font-size: 35px;
    font-family: Times New Roman,Times,serif;
    font-weight: 700;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
   
}

.para {
  display: inline-block;
  color:  white;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: 'Cabin', sans-serif;
  width: 400px;
  text-align: left;
}