.App{
  background-color: white;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.heading{
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  font-family: Times New Roman,Times,serif;
  text-align: left;
}

.Images{
  justify-content: left;

}

.image1{
  order: 1;
  flex-shrink: 1;
  max-width: 450px;
}

.image2{
 order: 2;
 flex-shrink: 1;
 max-width: 400px;
}

.image3{
 order:3;
 flex-shrink: 1;
 max-width: 400px;
}

.image4{
 order: 4; 
 flex-shrink: 1;
 max-width: 400px;
}

.image5{
  order: 5;
  flex-shrink: 1;
  max-width: 400px;
}

.image6{
  order: 6;
  flex-shrink: 1;
  max-width: 400px;
}

.image7{
 order: 7;
 flex-shrink: 1;
 max-width: 400px;
}

.image8{
 order:8;
 flex-shrink: 1;
 max-width: 400px;
}

.image9{
 order: 9; 
 flex-shrink: 1;
 max-width: 400px;
}

.image10{
  order: 10;
  flex-shrink: 1;
  max-width: 400px;
}